<!DOCTYPE html>
<html>
<head>
    <title>Payment Canceled</title>

</head>
<body>
    <div class="message">
        <h1>Payment Canceled</h1>
        <p>Your payment has been canceled. If this was a mistake, please try again.</p>
        <a href="/BookingForm">Go Back to Booking Form</a>
    </div>
</body>
</html>
